:root {
  --white: #fff;
  --black: #10203B;
  --bg: #F9F9FA;
  --profile-block: #263650;
  --light-primary: #11b7db;
  --primary: #10A8C9;
  --ultra-light-primary: #e8f7fa;
  --light-gray: #D7DBE2;
  --gray: #9CA4B3;
  --dark-gray: #515B6C;
  --dark-primary: #0e97b5;
  --light-blue: #56CCF2;
  --dark-blue: #2F80ED;
  --blue: #2D9CDB;
  --yellow: #F2C94C;
  --light-orange: #F2994A;
  --orange: #f2994a;
  --dark-orange: #FF8437;
  --light-green: #6FCF97;
  --green: #03D087;
  --dark-green: #219653;
  --dark-red: #D82045;
  --light-red: #EB5757;
}

