@font-face {
  font-family: 'T-Star Pro';
  src: url('fonts/TStarProBold.eot');
  src: url('fonts/TStarProBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/TStarProBold.woff2') format('woff2'),
  url('fonts/TStarProBold.woff') format('woff'),
  url('fonts/TStarProBold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'T-Star Pro';
  src: url('fonts/TStarProRegular.eot');
  src: url('fonts/TStarProRegular.eot?#iefix') format('embedded-opentype'),
  url('fonts/TStarProRegular.woff2') format('woff2'),
  url('fonts/TStarProRegular.woff') format('woff'),
  url('fonts/TStarProRegular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'T-Star Pro';
  src: url('fonts/TStarProHeavy.eot');
  src: url('fonts/TStarProHeavy.eot?#iefix') format('embedded-opentype'),
  url('fonts/TStarProHeavy.woff2') format('woff2'),
  url('fonts/TStarProHeavy.woff') format('woff'),
  url('fonts/TStarProHeavy.ttf') format('truetype');

  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'T-Star Pro';
  src: url('fonts/TStarProMedium.eot');
  src: url('fonts/TStarProMedium.eot?#iefix') format('embedded-opentype'),
  url('fonts/TStarProMedium.woff2') format('woff2'),
  url('fonts/TStarProMedium.woff') format('woff'),
  url('fonts/TStarProMedium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-Regular.eot');
  src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Inter-Regular.woff2') format('woff2'),
  url('fonts/Inter-Regular.woff') format('woff'),
  url('fonts/Inter-Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-Regular.eot');
  src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Inter-Regular.woff2') format('woff2'),
  url('fonts/Inter-Regular.woff') format('woff'),
  url('fonts/Inter-Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: Inter;
  src: url('fonts/Inter-SemiBold.eot');
  src: url('fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Inter-SemiBold.woff2') format('woff2'),
  url('fonts/Inter-SemiBold.woff') format('woff'),
  url('fonts/Inter-SemiBold.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


