@use "../../styles/colors.scss";

.toggle {
  position: relative;

  display: inline-block;

  width: 40px;
  height: 18px;

  outline: none;
  
  & input {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;
  transition: 0.3s;

  border-radius: 18px;
  background: #ccc;
  
  &::before {
    position: absolute;
    bottom: 2px;
    left: 4px;

    width: 14px;
    height: 14px;

    content: "";
    transition: 0.4s;

    border-radius: 50%;
    background: var(--white);
  }
}

input:checked + .toggler {
  background: var(--primary);
}

input:disabled + .toggler {
  cursor: not-allowed;

  background: var(--gray);
}

input:focus + .toggler {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .toggler::before {
  transform: translateX(18px);
}
